@import "./custom_colors";

.users {
    padding-top: 40px !important;

    
    .card-content {
      
        padding-top: 40px;
    }

    .users-edit {
        .title {
            margin-bottom: 15px;
        }

        button { 
            color: $custom-purple;

            &:hover{
                background-color: $custom-purple;
                color: white;
            }
        }
    }
}